
.header{
	margin-bottom: 60px;
}
#menuparts{
	color: #000; 
	text-decoration: none;
}
.menu{
	margin-bottom: 60px;
}
.text-video{
	font-size: 1.57rem;
}
.info_1{
	font-size: 1.4rem;
}
.who_we{
	padding-bottom: 30px;
}
.form-header{
	font-size:20px;
}
.form{
	border: 5px solid #007BFF;
	border-radius: 20px;
	padding: 20px 20px;
}
.form-btn{
	margin: 10px auto;

}
.form input{
	margin-top: 10px;
}
img{
	width: 100%;
}